.select {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #D8DAE5;
  width: 100%;
  display: block;
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../assets/images/Caret.png) no-repeat #fff;
  background-position-x: 98%;
  background-position-y: 5px;

  &-label {
    font-size: 14px;
    color: #474D66;
    margin-bottom: 8px;
    display: block;
  }


  &:focus, &:active {
    outline: none;
    border: 1px solid #8198dd;
  }
}

