$primary-color: #3366FF;
$tertiary-color: #68B266;


// WHITE
$color-white: #fff;

// GREY
$grey-100: #D8DAE5;
$grey-200: #F5F5F5;
$grey-300: #dcd6fa;
$grey-600: #787486;
$grey-700: #474D66;

// BLUE
$blue-100: #8198dd;
$blue-500: #246bb3;
$blue-700: #0D062D;

// GREEN
$green-600: #497d47
