@import "../../../styles/variables";
@import "../../../styles/mixin";

.building-location {
  &__header {
    @include flex(center);
    margin-bottom: 30px;

    &__building-name {
      font-size: rem(32);
      font-weight: 500;
      margin-inline-end: 10px;
    }

    &__actions {
      @include flex(center);
      gap: 15px;

      &__item {
        @include flex(center, center);
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: $grey-300;
        color: $primary-color;
        cursor: pointer;

        &__link {
          width: 18px;
        }
      }
    }
  }

  &__map {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    &__header {
      &__building-name {
        font-size: rem(20);
      }
    }
  }
}
